---
import Layout from "@/layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import LocationMap from "../components/LocationMap.astro";

const hero = {
    image: "/images/kontakt/hero.webp",
    h1: "Kontakt",
    h2: "",
    p: "So kannst du uns finden und mit uns Kontakt aufnehmen."
}

/*
const cards = [
    {
        image: { url: '/images/Dienstleistungen.webp', alt: 'Image 1' },
        headline: 'Card Title 1',
        text: 'This is the description for card 1. This is the description for card 1.',
    },
    {
        image: { url: '/images/Dienstleistungen.webp', alt: 'Image 1' },
        headline: 'Card Title 1',
        text: 'This is the description for card 1. This is the description for card 1.',
    },
    {
        image: { url: '/images/Dienstleistungen.webp', alt: 'Image 1' },
        headline: 'Card Title 1',
        text: 'This is the description for card 1. This is the description for card 1.',
    }
];
 */
---

<Layout title="Kontakt" description="Besuche uns in der Marktstraße 19, 31188 Holle. Öffnungszeiten, Telefon, E-Mail und Anfahrt zum Holler Allerlei.">
    <Hero block={hero} />
    <section class="mainWrapper">
        <h2 class="text-4xl font-bold text-center mb-10">Kommt uns besuchen</h2>
        <div class="rounded-lg shadow bg-white grid p-5 lg:p-15 contentReveal">
            <h3>📍 Adresse</h3>
            <p>
                Holler Allerlei <br>
                Marktstraße 19 <br>
                31188 Holle <br>
                Deutschland <br>
            </p>
        </div>
        <div class="rounded-lg shadow bg-white grid p-5 lg:p-15 my-10 contentReveal">
            <h3>🕒 Öffnungszeiten</h3>
            <div class="flex justify-between">
                <span>Montag - Freitag:</span>
                <span>09:00 - 12:30 Uhr</span>
            </div>
            <div class="flex justify-between">
                <span>Mo. Di. Do. Fr.:</span>
                <span>14:30 - 18:00 Uhr</span>
            </div>
            <div class="flex justify-between">
                <span>Samstag:</span>
                <span>09:00 - 13:00 Uhr</span>
            </div>
            <div class="flex justify-between">
                <span>Sonntag:</span>
                <span>Geschlossen</span>
            </div>
        </div>
        <div class="rounded-lg shadow bg-white grid p-5 lg:p-15 contentReveal">
            <h3>📞 Kontaktdaten</h3>
            <p>
                Telefon : 05062 / 1830<br>
                E-Mail : holler.allerlei@email.de<br>
            </p>
        </div>
    </section>
    <LocationMap hideButton={true} />
</Layout>
