---
// src/components/CategoryIcons.astro
---

<section class="py-12 text-center mainWrapper contentReveal">
    <h2 class="text-4xl font-semibold mb-14">Was suchst du?</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
        <a href="/sortiment#holzprodukte" class="group">
            <div class="mx-auto w-40 group-hover:scale-108 transition-transform" >
                <svg width="175" height="164" viewBox="0 0 175 164" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M171.395 82.1645C171.395 38.7832 133.699 3.61572 87.1976 3.61572C40.6965 3.61572 3 38.7832 3 82.1645C3 125.546 40.6965 160.713 87.1976 160.713C133.699 160.713 171.395 125.546 171.395 82.1645Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M137.981 55.6787H36.4028V120.27H137.981V55.6787Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="fill-current text-[transparent] group-hover:text-[#EACACB] transition-colors duration-300" d="M128.898 64.1694H45.5063V111.784H128.898V64.1694Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M137.991 55.6787L128.887 64.1715" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M128.887 111.784L137.991 120.267" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M45.5064 111.784L36.4028 120.277" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M36.4028 55.6787L45.5064 64.1715" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M58.4478 55.6763L87.1974 28.8174L115.947 55.6763" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-10 text-2xl font-bold">Holzprodukte</p>
        </a>
        <a href="/sortiment#dekoartikel" class="group">
            <div class="mx-auto w-40 group-hover:scale-108 transition-transform" >
                <svg width="175" height="164" viewBox="0 0 175 164" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M171.39 82.1645C171.39 38.7832 133.694 3.61572 87.1927 3.61572C40.6917 3.61572 2.99512 38.7832 2.99512 82.1645C2.99512 125.546 40.6917 160.713 87.1927 160.713C133.694 160.713 171.39 125.546 171.39 82.1645Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M118.371 63.5035C115.289 66.3788 110.298 66.3788 107.216 63.5035C104.134 60.6281 104.134 55.9723 107.216 53.0969C110.298 50.2216 115.289 50.2216 118.371 53.0969C121.453 55.9723 121.453 60.6281 118.371 63.5035Z" class="fill-current text-[transparent] group-hover:text-[#EACACB] transition-colors duration-300" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M86.4994 55.4945C90.8564 55.4945 94.3885 52.1994 94.3885 48.1347C94.3885 44.07 90.8564 40.7749 86.4994 40.7749C82.1424 40.7749 78.6104 44.07 78.6104 48.1347C78.6104 52.1994 82.1424 55.4945 86.4994 55.4945Z" class="fill-current text-[transparent] group-hover:text-[#818A6D] transition-colors duration-300" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M65.7819 53.0843C68.8641 55.9596 68.8641 60.6154 65.7819 63.4908C62.6998 66.3661 57.7092 66.3661 54.627 63.4908C51.5449 60.6154 51.5449 55.9596 54.627 53.0843C57.7092 50.2089 62.6998 50.2089 65.7819 53.0843Z" class="fill-current text-[transparent] group-hover:text-[#AB577A] transition-colors duration-300" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M107.216 112.565C104.134 109.69 104.134 105.034 107.216 102.158C110.298 99.2831 115.289 99.2831 118.371 102.158C121.453 105.034 121.453 109.69 118.371 112.565C115.289 115.44 110.298 115.44 107.216 112.565Z" class="fill-current text-[transparent] group-hover:text-[#E3D5D4] transition-colors duration-300" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M131.475 84.0177C132.175 80.0057 129.255 76.2243 124.955 75.5716C120.654 74.919 116.601 77.6422 115.902 81.6542C115.202 85.6661 118.121 89.4475 122.421 90.1002C126.722 90.7529 130.775 88.0296 131.475 84.0177Z" class="fill-current text-[transparent] group-hover:text-[#9FAC90] transition-colors duration-300" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M124.792 118.552C147.377 97.4824 145.846 62.4258 120.189 43.2504C100.4 28.4642 71.8542 28.6546 52.2592 43.6598C43.4414 50.4198 37.5527 59.084 34.593 68.3765C29.98 82.8866 44.4416 96.4541 60.1176 92.541C69.8029 90.1131 78.6717 98.3869 76.0794 107.422C71.8849 122.037 86.3873 135.538 101.931 131.254C110.299 128.94 118.188 124.703 124.802 118.543L124.792 118.552Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-10 text-2xl font-bold">Dekoartikel</p>
        </a>
        <a href="/sortiment#schulartikel" class="group">
            <div class="mx-auto w-40 group-hover:scale-108 transition-transform">
                <svg width="175" height="164" viewBox="0 0 175 164" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M171.771 81.642C171.771 38.2607 134.075 3.09326 87.5735 3.09326C41.0725 3.09326 3.37598 38.2607 3.37598 81.642C3.37598 125.023 41.0725 160.191 87.5735 160.191C134.075 160.191 171.771 125.023 171.771 81.642Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M60.7217 111.624H126.222V133.637H60.7217C54.2104 133.637 48.9238 128.705 48.9238 122.63C48.9238 116.556 54.2104 111.624 60.7217 111.624Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M126.222 122.631V29.6484H60.7421C54.2206 29.6484 48.9238 34.5803 48.9238 40.6738V122.631" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M78.3977 122.565L67.998 128.64V116.624H78.3977V122.565Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path class="fill-current text-[transparent] group-hover:text-[#AB577A] transition-colors duration-300" d="M101.953 53.3647H73.2031V80.1856H101.953V53.3647Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-10 text-2xl font-bold">Schulartikel</p>
        </a>
        <a href="/sortiment#schulartikel" class="group">
            <div class="mx-auto w-40 group-hover:scale-108 transition-transform">
                <svg width="176" height="165" viewBox="0 0 176 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M172.925 82.7773C172.925 39.0576 134.934 3.61572 88.0703 3.61572C41.2065 3.61572 3.21582 39.0576 3.21582 82.7773C3.21582 126.497 41.2065 161.939 88.0703 161.939C134.934 161.939 172.925 126.497 172.925 82.7773Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M124.434 65.1101L106.993 48.8398L54.3085 97.9899L71.7488 114.26L124.434 65.1101Z" class="fill-current text-[transparent] group-hover:text-[#818A6D] transition-colors duration-300" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M124.449 65.1382L106.974 48.8357L135.495 38.5303L124.449 65.1382Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M71.7677 114.286L54.291 97.9814L45.0836 106.571L62.5603 122.875L71.7677 114.286Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M45.0732 106.578L62.5499 122.882L60.819 124.497C56.6953 128.344 49.9897 128.344 45.866 124.497L43.3423 122.143C39.2186 118.296 39.2186 112.04 43.3423 108.193L45.0732 106.578Z" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M63.1064 106.062L115.737 56.9624" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M126.649 41.6499L132.029 46.6683" stroke="#3C3C3B" stroke-opacity="0.9" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <p class="mt-10 text-2xl font-bold">Schreibwaren</p>
        </a>
    </div>
</section>
