---
// src/components/CategoryIcons.astro
---

<section class="py-12 text-center mainWrapper">
    <h2 class="text-4xl font-semibold mb-14">Was suchst du?</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
        <a href="/sortiment#holzprodukte" class="group">
            <img src="/images/image.svg" alt="" class="mx-auto w-40 group-hover:scale-108 transition-transform" />
            <p class="mt-10 text-2xl font-bold">Holzprodukte</p>
        </a>
        <a href="/sortiment#dekoartikel" class="group">
            <img src="/images/paint.svg" alt="" class="mx-auto w-40 group-hover:scale-108 transition-transform" />
            <p class="mt-10 text-2xl font-bold">Dekoartikel</p>
        </a>
        <a href="/sortiment#strickartikel" class="group">
            <img src="/images/book.svg" alt="" class="mx-auto w-40 group-hover:scale-108 transition-transform" />
            <p class="mt-10 text-2xl font-bold">Strickartikel</p>
        </a>
        <a href="/sortiment#schreibwaren" class="group">
            <img src="/images/pencil.svg" alt="" class="mx-auto w-40 group-hover:scale-108 transition-transform" />
            <p class="mt-10 text-2xl font-bold">Schreibwaren</p>
        </a>
    </div>
</section>
