<div class="p-10 md:px-30 md:py-20 bg-white flex flex-col gap-2 min-h-[180px] m-auto w-[1000px] shadow-lg max-w-[100%] contentReveal">
    <h2 class="text-4xl font-semibold mb-14">Wir müssen leider schließen!</h2>
    <div class="text-l">
        Leider mussten wir schweren Herzens zu dem Entschluss kommen, dass wir das Holler Allerlei <br>
        in der Marktstr. 19 zum <span class="bold">31.08.2026</span> schließen müssen. <br>
        Die Umsatzzahlen der letzten Monate lassen dies leider nicht mehr zu.<br><br>
        In Zeiten von Amazon, eBay, Temu, AliExpress usw. ist es für einen kleinen Laden wie uns unmöglich,
        mit den Preisen mitzuhalten.<br><br>
        <span class="text-xl bold">Wie geht es jetzt weiter?</span><br><br>
        Ab dem <span class="bold">01.06.2026</span> beginnen wir mit dem Räumungsverkauf. Auf das gesamte Bestandssortiment gewähren wir <span class="bold">20 % Rabatt</span>
        Von der Reduzierung ausgenommen sind:<br><br>
        <ul>
            <li>alle selbstgemachten Artikel</li>
            <li>die Paketshops von DPD und GLS</li>
            <li>Reinigung/Wäscherei</li>
            <li>Änderungsschneiderei</li>
            <li>Schuster</li>
            <li>Schulbuchbestellungen</li>
            <li>Silano-Taschen</li>
        </ul><br>
        Bis Anfang August können Schulbuchbestellungen für das kommende Schuljahr im Allerlei abgegeben werden.
        Eventuell werden wir ab dem <span class="bold">01.09.2026</span> in Grasdorf, Hildesheimer Str. 49, die Paketshops, Reinigung/Wäscherei sowie selbstgemachte Artikel weiterhin anbieten.<br><br>
        <span class="text-xl bold">Wir würden uns freuen, euch dann in Grasdorf begrüßen zu dürfen.</span><br><br>
        Bitte unterstützt uns in den nächsten drei Monaten und nutzt den Räumungsverkauf, damit wir noch möglichst viele Waren verkaufen können.
    </div>
    <p class="bold">Euer Holler Allerlei Team</p>
</div>

<style>
    .bold{
        font-family: Lexend !important;
    }
</style>