---
// src/components/Footer.astro
---
<footer>
    <div class="relative px-6 pb-10 text-lg bg-[var(--grey)] text-white pt-10">
        <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
            <div>
                <img
                        src="/Logo_white.png"
                        alt="Holler Allerlei"
                        class="w-[200px] mb-5"
                />
                <p>Ihr Laden für Wolle, Handarbeiten, Dekoration und vieles mehr. Mit Liebe zum Detail und persönlicher Beratung.</p>
                <div class="flex space-x-4 mt-4">
                    <a href="https://www.facebook.com/catringrassmueller/"><img src="/fb.png" alt="Facebook" class="w-10" /></a>
                    <a href="https://www.instagram.com/hollerallerlei/#"><img src="/insta.png" alt="Instagram" class="w-10" /></a>
                </div>
            </div>
            <div>
                <h4 class="font-semibold mb-2 text-white!">Schnelllinks</h4>
                <a class="block" href="/">Home</a>
                <a class="block" href="/sortiment">Sortiment</a>
                <a class="block" href="/selbstgemachtes">Selbstgemachtes</a>
                <a class="block" href="/ueberUns">Über uns</a>
                <a class="block" href="/kontakt">Kontakt</a>
                <a class="block" href="/impressum">Impressum</a>
                <a class="block" href="/datenschutz">Datenschutz</a>
            </div>
            <div>
                <h4 class="font-semibold mb-2 text-white!">Kontakt</h4>
                <p>Marktstraße 19<br />31188 Holle</p>
                <p>Tel: <a href="tel:05062/1830">05062 18 30</a><br />E-Mail: <a href="mailto:holler.allerlei@email.de">holler.allerlei@email.de</a></p>
            </div>
        </div>
        <div class="text-center text-xs mt-6 border-t pt-4">© 2025 Holler Allerlei. Alle Rechte vorbehalten.</div>
    </div>
</footer>

