---
// src/components/Hero.astro

const { block } = Astro.props;
---

<section class="relative min-h-screen max-h-screen mb-20 flex items-center justify-center text-center text-white">
<img src={block.image} alt="Hero" class="absolute inset-0 w-full h-full object-cover brightness-50" />
<div class="relative z-10">
  <h1 class="text-5xl md:text-7xl font-bold mb-2 text-white!">
    {block.h1}
  </h1>
  <h2 class="text-3xl md:text-4xl text-white!">{block.h2}</h2>
  <p class="mt-10 text-xl">{block.p}</p>
</div>
</section>
